# config.example.py
# Rename this file to config.py and fill in your details

# The URL of the API to call to find the closest planes. We are using adsb.lol's free API.
ADSB_URL = "https://api.adsb.lol/v2/point/{lat}/{lon}/{range}"

ROUTE_URL = "https://api.adsbdb.com/v0/callsign/{callsign}"

# Your Home Coordinates (used to find the "Closest" plane)
HOME_LAT = 0.0000
HOME_LON = 0.0000

# Minimum altitude (in feet) for a plane to be considered valid
MIN_ALTITUDE = 200

# Range in NM to consider when looking for planes
RANGE = 50